* {
  line-height: normal;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

body {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

/* @use "maps" as mp;
@use "variables" as v; */
.header {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  position: absolute;
  z-index: 1000;
  backdrop-filter: blur(4px) brightness(1.2);
  -webkit-backdrop-filter: blur(4px);
  padding: 0;
}
.header--brown {
  background-color: rgba(113, 83, 67, 0.7);
}
.header--blue {
  background-color: rgba(15, 159, 214, 0.7);
}

.header__nav {
  align-items: stretch;
  padding: 0;
}
.header__nav .header__toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header__brand {
  line-height: 1.05263em;
  font-size: 2.6rem;
  font-weight: 500;
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  margin-left: 4.1666666667%;
  padding: 0.5em 0.923076em;
}
.header--brown .header__brand:hover {
  background-color: rgb(113, 83, 67);
  color: #fff;
}
.header--blue .header__brand:hover {
  background-color: rgb(15, 159, 214);
  color: #fff;
}
@media (min-width: 576px) {
  .header__brand {
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 768px) {
  .header__brand {
    font-size: 3.8rem;
    padding: 1.52631em 0.63157em 0.18421em;
  }
}
@media (min-width: 992px) {
  .header__brand {
    margin-left: 4.1666666667%;
  }
}
@media (min-width: 1200px) {
  .header__brand {
    margin-left: 8.3333333333%;
  }
}

.header__toggler {
  font-size: 1.7rem;
  margin-right: 8.3333333333%;
  border: none;
  border-radius: 0;
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  padding: 0.75em 0.45em 0.75em;
}
.header--brown .header__toggler:hover {
  background-color: rgba(113, 83, 67, 0.5);
}
.header--blue .header__toggler:hover {
  background-color: rgba(15, 159, 214, 0.5);
}
.header__toggler:focus {
  box-shadow: none;
}
@media (min-width: 768px) {
  .header__toggler {
    font-size: 2.5rem;
    margin-right: 12.5%;
    padding-top: 2.232em;
  }
}

.header__navbar {
  transition-property: all, background-color;
  transition-duration: 0.75s, 0s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
.header--brown .header__navbar {
  background-color: rgba(113, 83, 67, 0.5);
}
.header--blue .header__navbar {
  background-color: rgba(15, 159, 214, 0.5);
}
@media (min-width: 992px) {
  .header__navbar {
    justify-content: flex-end;
    margin-right: 4.1666666667%;
  }
  .header .header__navbar {
    background-color: transparent;
  }
}
@media (min-width: 1200px) {
  .header__navbar {
    margin-right: 8.3333333333%;
  }
}

@media (min-width: 576px) {
  .header__navbar-nav {
    flex-direction: row;
  }
}

.header__item {
  flex-grow: 1;
}
@media (min-width: 992px) {
  .header__item:not(:last-child) {
    margin-right: 3em;
  }
}

.header__link {
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.4rem;
  font-weight: 400;
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  display: inline-block;
  padding: 0.7777777em 0;
}
.header--brown .header__link:hover {
  background-color: rgb(113, 83, 67);
  color: #fff;
}
.header--blue .header__link:hover {
  background-color: rgb(15, 159, 214);
  color: #fff;
}
.header__link--active {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .header__link {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .header__link {
    width: max-content;
    padding: 3.88888em 1.22222em 1.11111em;
  }
}

@keyframes header-fixed-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .header--fixed {
    position: fixed;
    animation: header-fixed-opacity 1s ease-out;
  }
  .header--fixed .header__brand {
    padding-top: 0.4em;
  }
  .header--fixed .header__toggler {
    padding-top: 0.45em;
  }
  .header--fixed .header__link {
    padding-top: 1.11111em;
  }
}

.hero-index {
  background-color: rgb(247, 231, 148);
  background: url("../../media/index/hero-image.png") no-repeat center top, transparent radial-gradient(closest-side at 50% 22%, #fff 0%, rgb(247, 231, 148) 100%) 0% 0% no-repeat padding-box;
}
@media (min-width: 576px) {
  .hero-index {
    background: url("../../media/index/sm/hero-image.png") no-repeat center top, transparent radial-gradient(closest-side at 50% 22%, #fff 0%, rgb(247, 231, 148) 100%) 0% 0% no-repeat padding-box;
  }
}
@media (min-width: 768px) {
  .hero-index {
    background: url("../../media/index/md/hero-image.png") no-repeat center top, transparent radial-gradient(closest-side at 50% 33%, #fff 0%, rgb(247, 231, 148) 100%) 0% 0% no-repeat padding-box;
  }
}
@media (min-width: 992px) {
  .hero-index {
    background: url("../../media/index/lg/hero-image.png") no-repeat center top, transparent radial-gradient(closest-side at 50% 33%, #fff 0%, rgb(247, 231, 148) 100%) 0% 0% no-repeat padding-box;
  }
}

.title-index {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  margin-top: 8.4rem;
  margin-left: 25%;
}
@media (min-width: 576px) {
  .title-index {
    margin-top: 11.2rem;
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 768px) {
  .title-index {
    margin-top: 14.7rem;
    margin-left: 16.6666666667%;
  }
}
@media (min-width: 992px) {
  .title-index {
    margin-top: 37.1rem;
    margin-left: 4.1666666667%;
  }
}
@media (min-width: 1400px) {
  .title-index {
    margin-top: 36.3rem;
    margin-left: 8.3333333333%;
  }
}

.title-index__article {
  display: flex;
  flex-direction: column;
}

.title-index__title {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  text-align: center;
  line-height: 1.05263em;
  color: rgb(15, 159, 214);
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0;
}
@media (min-width: 296px) {
  .title-index__title {
    font-size: 2.6rem;
  }
}
@media (min-width: 346px) {
  .title-index__title {
    font-size: 3rem;
  }
}
@media (min-width: 576px) {
  .title-index__title {
    font-size: 3.8rem;
    margin-bottom: 0.60526em;
  }
}
@media (min-width: 768px) {
  .title-index__title {
    font-size: 5.7rem;
  }
}
@media (min-width: 992px) {
  .title-index__title {
    text-align: left;
    font-size: 3.8rem;
  }
}
@media (min-width: 1400px) {
  .title-index__title {
    font-size: 4.6rem;
  }
}

.title-index__paragraph {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  display: none;
  margin-bottom: 0;
}
@media (min-width: 576px) {
  .title-index__paragraph {
    text-align: center;
    line-height: 1.625em;
    letter-spacing: 0.02em;
    color: rgb(113, 83, 67);
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
  }
}
@media (min-width: 768px) {
  .title-index__paragraph {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .title-index__paragraph {
    text-align: left;
    font-weight: 500;
  }
}
@media (min-width: 1200px) {
  .title-index__paragraph {
    letter-spacing: -0.02em;
  }
}
@media (min-width: 1400px) {
  .title-index__paragraph {
    font-size: 1.8rem;
  }
}

.social-index {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
@media (min-width: 768px) {
  .social-index {
    margin-top: 11.95rem;
    margin-left: 41.6666666667%;
  }
}
@media (min-width: 992px) {
  .social-index {
    margin-top: 38.1rem;
    margin-left: 50%;
  }
}
@media (min-width: 1200px) {
  .social-index {
    margin-left: 58.3333333333%;
  }
}
@media (min-width: 1400px) {
  .social-index {
    margin-left: 50%;
  }
}

.social-index__logos {
  display: none;
}
@media (min-width: 768px) {
  .social-index__logos {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .social-index__logos {
    flex-direction: column;
  }
}

.social-index__link {
  transition-property: all, transform, opacity;
  transition-duration: 0.75s, 0.4s, 0.4s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  opacity: 0.4;
}
.social-index__link:not(:last-child) {
  margin-right: 3rem;
}
.social-index__link:hover {
  transform: scale(1.1);
  opacity: 1;
}
@media (min-width: 992px) {
  .social-index__link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.9rem;
  }
}

@media (min-width: 992px) {
  .buttons-index {
    margin-left: -8.3333333333%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
  }
}

.buttons-index__button {
  transition-property: all, opacity;
  transition-duration: 0.75s, 0.4s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 1000;
}
.buttons-index__button--down {
  display: none;
}
@media (min-width: 576px) {
  .buttons-index__button {
    right: 1.8rem;
    bottom: 1.8rem;
  }
}
@media (min-width: 768px) {
  .buttons-index__button--up {
    display: none;
  }
}
@keyframes levitation {
  0% {
    transform: transaletY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
@media (min-width: 992px) {
  .buttons-index__button {
    position: static;
    opacity: 0.4;
    animation: levitation 1s ease-in-out infinite alternate none;
  }
  .buttons-index__button--down {
    display: block;
  }
  .buttons-index__button:hover {
    opacity: 1;
    animation-play-state: paused;
  }
}

.intro-index {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  padding-top: 7.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  .intro-index {
    padding-top: 6.15rem;
  }
}
@media (min-width: 768px) {
  .intro-index {
    padding-top: 11.5rem;
  }
}
@media (min-width: 992px) {
  .intro-index {
    margin-top: 10rem;
    padding-top: 10rem;
  }
}
@media (min-width: 1400px) {
  .intro-index {
    margin-top: 7.5rem;
  }
}

.intro-index__article {
  transition-property: all, width;
  transition-duration: 0.75s, 0s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  text-align: center;
}
.intro-index__article:last-child {
  width: 100vw;
  background-color: #fff;
  padding: 11.5rem 0 9.15rem;
}
@media (min-width: 768px) {
  .intro-index__article:last-child {
    padding: 15.6rem 0 12.3rem;
  }
}

.intro-index__title {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color: rgb(15, 159, 214);
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 0.947368421em;
}
.intro-index__title--color-weight {
  color: rgb(237, 125, 59);
  font-weight: 500;
}
@media (min-width: 346px) {
  .intro-index__title {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) {
  .intro-index__title {
    font-size: 3.8rem;
  }
}

.intro-index__paragraph {
  max-width: 30ch;
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  color: rgb(113, 83, 67);
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0 auto;
}
.intro-index__article:not(:last-child) .intro-index__paragraph {
  margin-bottom: 3.78611em;
}
@media (min-width: 296px) {
  .intro-index__paragraph {
    font-size: 1.2rem;
  }
}
@media (min-width: 346px) {
  .intro-index__paragraph {
    font-size: 1.4rem;
  }
}
@media (min-width: 576px) {
  .intro-index__paragraph {
    max-width: 34ch;
    letter-spacing: 0;
  }
}
@media (min-width: 768px) {
  .intro-index__paragraph {
    font-size: 1.8rem;
  }
}

.intro-index__image {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  margin-bottom: -1rem;
  filter: drop-shadow(2.5px 2.5px 5px rgba(0, 0, 0, 0.4));
}
@media (min-width: 768px) {
  .intro-index__image {
    margin-bottom: -2.5rem;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
  }
}

.main-index__article {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
.main-index__article:nth-child(1) {
  background-color: rgb(15, 159, 214);
  background: url("../../media/index/bg-1.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, rgb(82, 201, 221) 0%, rgb(15, 159, 214) 100%) 0% 0% no-repeat padding-box;
}
.main-index__article:nth-child(2) {
  background-color: rgb(237, 125, 59);
  background: url("../../media/index/bg-2.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, rgb(255, 160, 123) 0%, rgb(237, 125, 59) 100%) 0% 0% no-repeat padding-box;
}
.main-index__article:nth-child(3) {
  background-color: rgb(247, 231, 148);
  background: url("../../media/index/bg-3.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, #fff 0%, rgb(247, 231, 148) 100%) 0% 0% no-repeat padding-box;
}
@media (min-width: 576px) {
  .main-index__article {
    height: 43rem;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .main-index__article:nth-child(1) {
    background: url("../../media/index/sm/bg-1.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, rgb(82, 201, 221) 0%, rgb(15, 159, 214) 100%) 0% 0% no-repeat padding-box;
  }
  .main-index__article:nth-child(2) {
    background: url("../../media/index/sm/bg-2.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, rgb(255, 160, 123) 0%, rgb(237, 125, 59) 100%) 0% 0% no-repeat padding-box;
  }
  .main-index__article:nth-child(3) {
    background: url("../../media/index/sm/bg-3.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, #fff 0%, rgb(247, 231, 148) 100%) 0% 0% no-repeat padding-box;
  }
}
@media (min-width: 768px) {
  .main-index__article {
    height: 64rem;
  }
  .main-index__article:nth-child(1) {
    background: url("../../media/index/md/bg-1.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, rgb(82, 201, 221) 0%, rgb(15, 159, 214) 100%) 0% 0% no-repeat padding-box;
  }
  .main-index__article:nth-child(2) {
    background: url("../../media/index/md/bg-2.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, rgb(255, 160, 123) 0%, rgb(237, 125, 59) 100%) 0% 0% no-repeat padding-box;
  }
  .main-index__article:nth-child(3) {
    background: url("../../media/index/md/bg-3.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, #fff 0%, rgb(247, 231, 148) 100%) 0% 0% no-repeat padding-box;
  }
}
@media (min-width: 992px) {
  .main-index__article {
    height: 100vh;
    min-height: 76.8rem;
    max-height: 108rem;
  }
  .main-index__article:nth-child(1) {
    background: radial-gradient(closest-side at 33% 50%, rgb(82, 201, 221) 0%, rgb(15, 159, 214) 100%);
  }
  .main-index__article:nth-child(2) {
    background: radial-gradient(closest-side at 67% 50%, rgb(255, 160, 123) 0%, rgb(237, 125, 59) 100%);
  }
  .main-index__article:nth-child(3) {
    background: radial-gradient(closest-side at 33% 50%, #fff 0%, rgb(247, 231, 148) 100%);
  }
  .main-index__article .row {
    align-items: center;
  }
}

.main-index__picture {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  display: none;
}
.main-index__article:nth-child(even) .main-index__picture {
  order: 1;
}
@media (min-width: 992px) {
  .main-index__picture {
    display: block;
    margin-left: 8.3333333333%;
  }
  .main-index__article:nth-child(2) .main-index__picture {
    margin-left: -8.3333333333%;
    padding-bottom: 3rem;
  }
}
@media (min-width: 1200px) {
  .main-index__article:nth-child(2) .main-index__picture {
    margin-left: -4.1666666667%;
    padding-bottom: 0;
  }
}

.main-index__image {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.4));
}

.main-index__description {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  margin-left: 8.3333333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  .main-index__description {
    margin-left: 16.6666666667%;
  }
}
@media (min-width: 768px) {
  .main-index__description {
    margin-left: 25%;
  }
}
@media (min-width: 992px) {
  .main-index__description {
    margin-left: 8.3333333333%;
    align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .main-index__article:nth-child(even) .main-index__description {
    margin-left: 12.5%;
  }
}

.main-index__title {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  text-align: center;
  text-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.15);
  line-height: 1.05263em;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.605263157em;
}
.main-index__article:nth-child(1) .main-index__title {
  color: rgb(255, 95, 0);
}
.main-index__article:nth-child(2) .main-index__title {
  color: rgb(0, 185, 255);
}
.main-index__article:nth-child(3) .main-index__title {
  color: rgb(15, 159, 214);
}
@media (min-width: 576px) {
  .main-index__title {
    font-size: 3.8rem;
  }
}
@media (min-width: 768px) {
  .main-index__title {
    font-size: 5.7rem;
  }
}
@media (min-width: 992px) {
  .main-index__title {
    text-align: left;
    font-size: 3.8rem;
    font-weight: 600;
  }
}

.main-index__paragraph {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  max-width: 40ch;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.15em rgb(0, 0, 0);
  line-height: 1.75em;
  letter-spacing: 0.02em;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2.25em;
}
.main-index__article:nth-child(3) .main-index__paragraph {
  text-shadow: 0.1em 0.1em 0.15em rgba(0, 0, 0, 0.5);
  color: rgb(113, 83, 67);
}
@media (min-width: 768px) {
  .main-index__paragraph {
    font-size: 1.6rem;
    font-weight: 500;
  }
}
@media (min-width: 992px) {
  .main-index__paragraph {
    text-align: left;
    text-shadow: none;
    letter-spacing: -0.012em;
    font-weight: 400;
  }
  .main-index__article:nth-child(3) .main-index__paragraph {
    text-shadow: none;
  }
}
@media (min-width: 1200px) {
  .main-index__paragraph {
    max-width: 34ch;
    letter-spacing: 0.03em;
  }
}

.main-index__button {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  letter-spacing: 0.03em;
  color: rgb(247, 231, 148);
  font-size: 1.8rem;
  font-weight: 400;
  border: 0.007692em solid rgb(247, 231, 148);
  padding: 0.76923em 0.84615em;
}
@media (min-width: 768px) {
  .main-index__button {
    font-size: 2.6rem;
  }
}
@media (min-width: 992px) {
  .main-index__button {
    color: rgb(113, 83, 67);
    border-color: rgb(113, 83, 67);
  }
}
.main-index__button:hover {
  color: rgb(113, 83, 67);
  background-color: rgb(247, 231, 148);
}
@media (min-width: 992px) {
  .main-index__button:hover {
    color: #fff;
    background-color: rgb(113, 83, 67);
  }
}
.main-index__button--color {
  color: rgb(113, 83, 67);
  border-color: rgb(113, 83, 67);
}
@media (min-width: 992px) {
  .main-index__button--color {
    color: rgb(237, 125, 59);
    border-color: rgb(237, 125, 59);
  }
}
.main-index__button--color:hover {
  color: #fff;
  background-color: rgb(113, 83, 67);
}
@media (min-width: 992px) {
  .main-index__button--color:hover {
    background-color: rgb(237, 125, 59);
  }
}

.bg-menu {
  background-color: rgb(247, 231, 148);
  background: url("../../media/menu/hero-image.png") no-repeat center top, radial-gradient(closest-side at 50% 50%, #fff 0%, rgb(247, 231, 148) 100%);
}
@media (min-width: 576px) {
  .bg-menu {
    background: url("../../media/menu/sm/hero-image.png") no-repeat center top, radial-gradient(closest-side at 50% 50%, #fff 0%, rgb(247, 231, 148) 100%);
  }
}
@media (min-width: 768px) {
  .bg-menu {
    background: url("../../media/menu/md/hero-image.png") no-repeat center top, radial-gradient(closest-side at 50% 50%, #fff 0%, rgb(247, 231, 148) 100%);
  }
}
@media (min-width: 992px) {
  .bg-menu {
    background: url("../../media/menu/lg/hero-image.png") no-repeat right top, radial-gradient(closest-side at 50% 50%, #fff 0%, rgb(247, 231, 148) 100%);
  }
}
@media (min-width: 1200px) {
  .bg-menu {
    background: url("../../media/menu/xl/hero-image.png") no-repeat right top, radial-gradient(closest-side at 50% 50%, #fff 0%, rgb(247, 231, 148) 100%);
  }
}
@media (min-width: 1400px) {
  .bg-menu {
    background: url("../../media/menu/xxl/hero-image.png") no-repeat right top, radial-gradient(closest-side at 50% 50%, #fff 0%, rgb(247, 231, 148) 100%);
  }
}

.title-menu__article {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  margin-top: 10.6rem;
  margin-left: 4.1666666667%;
  background-color: rgba(43, 0, 0, 0.5);
  backdrop-filter: blur(2px) brightness(0.9);
  -webkit-backdrop-filter: blur(4px);
  padding: 5rem 3rem;
}
@media (min-width: 768px) {
  .title-menu__article {
    margin-top: 17.6rem;
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 992px) {
  .title-menu__article {
    margin-top: 18rem;
    margin-left: 4.1666666667%;
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    padding: 0;
  }
}
@media (min-width: 1400px) {
  .title-menu__article {
    margin-top: 19rem;
  }
}

.title-menu__title {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.333333em rgba(0, 0, 0, 0.6);
  line-height: 1.1578947em;
  color: rgb(0, 185, 255);
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.6842105em;
}
@media (min-width: 576px) {
  .title-menu__title {
    font-size: 3.8rem;
  }
}
@media (min-width: 768px) {
  .title-menu__title {
    font-size: 6rem;
  }
}
@media (min-width: 992px) {
  .title-menu__title {
    text-align: left;
    text-shadow: 0.1em 0.1em 0.333333em rgba(0, 0, 0, 0.16);
    color: rgb(15, 159, 214);
    font-size: 7.6rem;
  }
}
@media (min-width: 1400px) {
  .title-menu__title {
    font-size: 8.6rem;
  }
}

.title-menu__paragraph {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  max-width: 40ch;
  text-align: center;
  line-height: 1.5em;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .title-menu__paragraph {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .title-menu__paragraph {
    text-align: left;
    letter-spacing: -0.01em;
    color: rgb(113, 83, 67);
    font-weight: 500;
    margin: 0 0 2.7777777em;
  }
}
@media (min-width: 1400px) {
  .title-menu__paragraph {
    max-width: 45ch;
    font-size: 2rem;
  }
}

.title-menu__button {
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  display: none;
  opacity: 0.4;
  animation: levitation 1s ease-in-out infinite alternate none;
}
@media (min-width: 992px) {
  .title-menu__button {
    display: inline-block;
  }
}
.title-menu__button:hover {
  opacity: 1;
  animation-play-state: paused;
}

.form {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  margin: 4.8rem auto;
}
@media (min-width: 576px) {
  .form {
    margin: 6rem auto;
  }
}
@media (min-width: 768px) {
  .form {
    margin: 13.4rem auto;
  }
}
.form--contact {
  margin: 8rem auto;
}
@media (min-width: 576px) {
  .form--contact {
    margin-top: 11rem;
  }
}
@media (min-width: 768px) {
  .form--contact {
    margin-top: 20rem;
  }
}

.form__legend {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  text-align: center;
  line-height: 1.05263em;
  color: rgb(237, 125, 59);
  font-size: 2.6rem;
  font-weight: 300;
  margin-bottom: 1.20769em;
}
@media (min-width: 768px) {
  .form__legend {
    font-size: 3.8rem;
  }
}

.form__textarea, .form__input {
  letter-spacing: 0.03em;
  color: rgb(113, 83, 67);
  font-size: 1.4rem;
  font-weight: 400;
}

.form__textarea, .form__input:not([type=submit]) {
  width: 100%;
  margin-bottom: 1.5em;
  border: 0.0625em solid rgb(113, 83, 67);
  padding: 1.25em;
}

.form__textarea::placeholder, .form__input::placeholder {
  opacity: 0.4;
}

@media (min-width: 768px) {
  .form__textarea::placeholder, .form__textarea, .form__input::placeholder, .form__input {
    font-size: 1.6rem;
  }
}
.form__input {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
@media (min-width: 768px) {
  .form__input__container:nth-child(odd) .form__input {
    float: right;
  }
}
@media (min-width: 768px) {
  .form__input:not([type=submit]) {
    width: 96.85%;
  }
}
.form__input[type=submit] {
  width: auto;
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color: #fff;
  font-size: 1.8rem;
  margin: 0 auto;
  border: none;
  padding: 0.77777em 0.83333em;
  background-color: rgb(15, 159, 214);
  cursor: pointer;
}
@media (min-width: 768px) {
  .form__input[type=submit] {
    font-size: 2.6rem;
  }
}
.form__input[type=submit]:hover {
  background-color: rgb(0, 135, 187);
}

.form__textarea {
  height: 10.7142em;
  line-height: 1.75em;
  margin-bottom: 3.5em;
}
.footer {
  transition-property: padding;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  padding: 4.4rem 0;
}
.footer--brown {
  background-color: rgb(113, 83, 67);
}
.footer--blue {
  background-color: rgb(15, 159, 214);
}
@media (min-width: 576px) {
  .footer {
    padding: 5.6rem 0;
  }
  .footer .row {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 11rem 0;
  }
}
@media (min-width: 992px) {
  .footer .row {
    flex-direction: row;
  }
}

.footer__data {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  order: 10;
  margin-top: 8.7rem;
  margin-left: 8.3333333333%;
}
@media (min-width: 576px) {
  .footer__data {
    margin-top: 0;
    margin-left: 16.6666666667%;
  }
}
@media (min-width: 992px) {
  .footer__data {
    order: -1;
    margin-left: 8.3333333333%;
  }
}

.footer__title {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color: #fff;
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 0.55em;
}
@media (min-width: 576px) {
  .footer__title {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 3.8rem;
  }
}
@media (min-width: 992px) {
  .footer__title {
    text-align: left;
  }
}

.footer__paragraph {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  line-height: 1.5em;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0;
}
@media (min-width: 320px) {
  .footer__paragraph {
    font-size: 1.2rem;
  }
}
@media (min-width: 576px) {
  .footer__paragraph {
    text-align: center;
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  .footer__paragraph {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .footer__paragraph {
    text-align: left;
  }
}

.footer__nav {
  margin-left: 8.3333333333%;
}
@media (min-width: 992px) {
  .footer__nav {
    align-self: flex-end;
  }
}

.footer__list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
@media (min-width: 576px) {
  .footer__list {
    display: flex;
  }
}
@media (min-width: 992px) {
  .footer__list {
    display: block;
  }
}

.footer__item {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  font-size: 1.2rem;
  font-weight: 300;
}
@media (min-width: 285px) {
  .footer__item {
    font-size: 1.4rem;
  }
}
@media (min-width: 576px) {
  .footer__item {
    font-size: 1.6rem;
  }
  .footer__item:nth-child(1) {
    max-width: 30%;
    flex: 0 0 30%;
  }
  .footer__item:nth-child(2) {
    max-width: 20%;
    flex: 0 0 20%;
    text-align: center;
    margin-left: 10%;
  }
  .footer__item:nth-child(3) {
    max-width: 20%;
    flex: 0 0 20%;
    text-align: right;
    margin-left: 20%;
  }
}
@media (min-width: 768px) {
  .footer__item {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .footer__item {
    max-width: none !important;
    text-align: center !important;
    margin-left: 0 !important;
  }
}
@media (min-width: 1200px) {
  .footer__item {
    text-align: left !important;
  }
}
.footer__item:not(:last-child) {
  margin-bottom: 1.16666em;
}
@media (min-width: 576px) {
  .footer__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .footer__item:not(:last-child) {
    margin-bottom: 1.16666em;
  }
}

.footer__link:hover {
  transition-property: font-weight;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color: #fff;
  font-weight: 400;
}

.footer__social {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  margin-left: 41.6666666667%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  .footer__social {
    margin: 5.3rem auto;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .footer__social {
    margin: 7.5rem auto;
  }
}
@media (min-width: 992px) {
  .footer__social {
    margin: 0 auto;
    justify-content: flex-end;
  }
}

.footer__social__link:hover {
  transition-property: all, transform;
  transition-duration: 0.75s, 0.4s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  transform: scale(1.1);
}
.footer__social__link:not(:last-child) {
  margin-bottom: 1.9rem;
}
@media (min-width: 576px) {
  .footer__social__link:not(:last-child) {
    margin-right: 2.9rem;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
